<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spatacobot Chat</title>
    <link type="text/css" rel="stylesheet" href="../assets/css/chat.css" />
</head>
<body>
    <div class="container">
        <textarea wrap="soft" id="chatTextArea"></textarea>
    </div>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="../client/chat.js"></script>
</body>
</html>