<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpatacoBot Client</title>
    <link type="text/css" rel="stylesheet" href="../assets/css/index.css" />
</head>
<body>
    <div class="container">
        <img id="navi" class="center-image hidden" src="../assets/images/navi.gif" alt="Navi saying 'Hey Listen'" />
    </div>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="../client/index.js"></script>
</body>
</html>